/*----------------------------------------*/
/* Custom Properties                      */
/*----------------------------------------*/

:root {
    --clr-white: 0 0% 100%;
    --clr-slate300: 212 45% 89%;
    --clr-slate500: 216 15% 48%;
    --clr-slate900: 218 44% 22%;
}




/*----------------------------------------*/
/* Properties from FM files               */
/*----------------------------------------*/

/* Outfit font from google                */

/* <weight>: Use a value from 100 to 900  */

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* design widths- Mobile 375px Desktop 1440px */

/*----------------------------------------*/
/* Reset                                  */
/*----------------------------------------*/

*, *::before, *::after {
    box-sizing: border-box;
}

/* Reset margins                          */

body, h1, h2, h3 {
    margin: 0
}

/* Set body                               */

body {
    font-family: 'Outfit', 'sans-serif';
    font-size: 15px
}

img {
    display: block;
    max-width: 100%;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }



/*----------------------------------------*/
/* Utility classes                        */
/*----------------------------------------*/

.bold {
    font-size: 20px;
    font-weight: 900;
}

.text {
    font-weight: 300;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

/*----------------------------------------*/
/* Styling                                */
/*----------------------------------------*/

 {
    border: 1px solid black
}

.component {
    width: 300px;
}

.qr-wrapper {
    width: 280px;
    margin-top: 10px;
    overflow: hidden;
}

p {
    width: 85%;
    text-align: center;
}

.text-box {
    margin-bottom: 5px;
}