/*----------------------------------------*/
/* Custom Properties                      */
/*----------------------------------------*/

:root {
    --clr-white: 0 0% 100%;
    --clr-slate300: 212 45% 89%;
    --clr-slate500: 216 15% 48%;
    --clr-slate900: 218 44% 22%;
}

/*----------------------------------------*/
/* Properties from FM files               */
/*----------------------------------------*/

/* Outfit font from google                */

/* <weight>: Use a value from 100 to 900  */

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* design widths- Mobile 375px Desktop 1440px */

/*----------------------------------------*/
/* Reset                                  */
/*----------------------------------------*/

*, *::before, *::after {
    box-sizing: border-box;
}

/* Reset margins                          */

body, h1, h2, h3 {
    margin: 0
}

/* Set body                               */

body {
    font-family: 'Outfit', 'sans-serif';
    width: 100vw;
    height: 100vh;
    min-width: 320px;
    justify-content: center;
    background-color:  hsl(var(--clr-slate300) );

}

/* Image Settings                        */
img {
    display: block;
    max-width: 100%;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

/*----------------------------------------*/
/* Utility classes                        */
/*----------------------------------------*/

.bold {
    font-size: 22px;
    font-weight: 700;
    line-height: 140%;
    color: hsl(var(--clr-slate900))

}

.text {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .2px;
    margin-bottom: 40px;
    line-height: 120%;
    color: hsl(var(--clr-slate500))
}

.container {
    border-radius: 15px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inline {
    margin-inline: auto;
}

/*----------------------------------------*/
/* Styling                                */
/*----------------------------------------*/


.component {
    width: 320px;
    height: 499px;
    background-color: hsl(var(--clr-white));
}

.qr-wrapper {
    width: 288px;
    height: 288px;
    margin-top: 16px;
    margin-bottom: 24px;
    margin-inline: auto;
    overflow: hidden;
}

p {
    width: 85%;
    text-align: center;
}
